.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: url("/Design/Assets/png/Merged bar-41@2x.png");
  color: black;
  height: 1em;
  padding: 1em; }
  .navbar .navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none; }
  .navbar .navbar > li {
    margin: 0 1rem; }
  .navbar .navbar-links {
    margin-left: 40px;
    color: black;
    text-decoration: none; }
  .navbar .navbar-links:hover {
    font-weight: bold;
    color: blue; }
