.recomm{
    display: flex;
    flex-direction: column;
         &__title{
             background-color:#1078AD;
             padding-bottom: .5em;
             
           h1{
               text-align: center;
               color:#fff;
               margin: 1em;
           }
          
     }
     &__conse{
        h4{
            color: #fff;
            padding-left: 15em;

            
    
    
       }
    }
      .list{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 2em;
          &__cons{
         ul{
         
             font-weight: bold;
             color: #fff;
             line-height: 2em;
             list-style: none;
           span{  
             color:#F4CF1B;
             padding-right: 1em;
             
             
             }
         }    
    }
    &__appel{
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    
        h3{
            color:#F4CF1B;
            
           
        }
        &--num1{
            background-color:#F4CF1B;
            border-radius: .25em;
            width: 10em;
            color:#1078AD;
           
        }
        &--num2{
            background-color:#F4CF1B;
            border-radius: .25em;
            width: 10em;
            color: #1078AD;
        }&--num3{
            background-color:#F4CF1B;
            border-radius: .25em;
            width: 10em;
            color:#1078AD;
        }
    }
      }
      .reco{   
    
        background-color: #BCDAEA;
        
        &__title2{
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            color: #1078AD;
            margin: 2em;
    
        }
        &__img{
            text-align: center;
        }
        
        &__btn{ 
            padding-top: 2em;
            text-align: center;
            padding-bottom: 2em;
            
            .button1{
                @include butn2 ;
                &:hover{
                    background-color:#1078AD;
                    color: #fff;
                }
                
                
    
            }
           
         
    
        }
    
    
    
    
    
    
      }
    
    }
    @media screen and (max-width: 900px) {
        .recomm{  
            &__conse{
                h4{
                    padding-left: 2em; 
                   
            
               }
            }
       .list{
          display: flex;
          flex-direction: column;
           &__appel{
           
    
            display: flex;
           justify-content: space-around;
            align-items: center;
            align-content: center;
            padding: .30em;
            margin: 1em;
            h3{
                
                padding-top: 2em;
               
            }
            
            
           }
        }
      }
    }
